.embla {
  overflow: hidden;
  margin: 2em 1em;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
  font-size: 1.5rem;
}

.homepage_p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #F5A822;
}
