.footer {
  padding-bottom: 2em;
  padding-top: 0;

  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.801);
}

.footer__link {
  font-weight: 600;
}

.footer__link:hover {
  text-decoration: underline;
}
