.footer {
  padding-bottom: 2em;
  padding-top: 0;
  margin: 2em auto 0;
  height: 100px;
  padding: 1em;
  background-color: #05bd33;
  display: flex;
}

.footer__link {
  font-weight: 600;
  color: #fff;
}

.footer__link:hover {
  text-decoration: underline;
}
