.nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);

  background-image: linear-gradient(
    270deg,
    hsl(135deg 94% 87%) 0%,
    hsl(133deg 96% 92%) 1%,
    hsl(132deg 98% 98%) 10%,
    hsl(133deg 100% 98%) 58%,
    hsl(134deg 98% 94%) 97%,
    hsl(136deg 96% 89%) 100%
  );
  width: 100%;
}

.list_item {
  list-style-type: none;
  margin-right: 0.5em;
}

.link_container {
  padding: 0.9em;
  border-radius: 5px;
}

.link_container:hover {
  background-color: #05bd331e;
}

.path {
  color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 20%;
  margin-left: -150px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


@media (max-width: 770px) {

.nav {
width: fit-content;
}

  .list_item {
  margin-right: 0.2em;
}

.link_container {
  padding: 0.7em 0.5em;
  border-radius: 5px;
}
}