
/* .test {
  height: 100vh;
}
 */
.rounded_full {
  border-radius: 99.9999999px;
}


.about_image {
  width: 100% !important;
  min-width: unset !important;
  max-width: unset !important;
  max-height: unset !important;
  border: 2px #05bd33 solid !important;
  object-fit: fill;

  background-color: #FFFFFF;

  
}
