.about_image_container {
  border: 2px #05bd33 solid !important;
  width: fit-content;
  height: 100%;
  border-radius: 49%;
  margin: 0 auto;
  background-color: #ffff;
  display: flex;
  align-items: center;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 49%;

  background-image: url('../public/images/profile.png')   ;

  background-size:  100%;
  background-position: center;
  background-repeat: no-repeat ;

  transition: 0.7s ease-in-out;
}

.image:hover {
  transform: scale(1.03);
}
