@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html,
body {
  /* Hide Scroolbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  background: linear-gradient(
    35deg,
    hsl(135deg 100% 92%) 0%,
    hsl(135deg 100% 93%) 6%,
    hsl(135deg 100% 94%) 11%,
    hsl(134deg 100% 95%) 16%,
    hsl(134deg 100% 96%) 21%,
    hsl(134deg 100% 97%) 25%,
    hsl(133deg 100% 98%) 29%,
    hsl(134deg 100% 97%) 33%,
    hsl(134deg 100% 96%) 37%,
    hsl(134deg 100% 95%) 40%,
    hsl(135deg 100% 93%) 44%,
    hsl(135deg 100% 92%) 47%,
    hsl(135deg 100% 92%) 50%,
    hsl(135deg 100% 93%) 53%,
    hsl(134deg 100% 95%) 56%,
    hsl(134deg 100% 96%) 59%,
    hsl(134deg 100% 97%) 61%,
    hsl(133deg 100% 98%) 64%,
    hsl(134deg 100% 97%) 67%,
    hsl(134deg 100% 96%) 71%,
    hsl(134deg 100% 95%) 74%,
    hsl(135deg 100% 94%) 78%,
    hsl(135deg 100% 93%) 84%,
    hsl(135deg 100% 92%) 98%
  );
 
}

[data-theme='dark'],
[data-theme='dark'] html,
[data-theme='dark'] body {
  color: #fff;
  background: #000;
}

.secondary_container {
  min-height: 70vh;
  max-width: 1200px;
  min-width: 500px;
  margin: 0 auto;
  position: relative;
  padding: 0 1em;
}

.main__content_container {
  padding: 2em 4em 0.3em;
  margin-right: 3em;
}

.asside {
  height: fit-content;
  min-width: 300px;
  padding: 2em;
  position: sticky;
  top: 5.5em;
  min-height: 40vh;
}

.main__content_container,
.asside {
  background-color: rgba(255, 255, 255, 0.726);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 1em;
}

.btn {
  background-color: #05bd33;
  padding: 0.9em;
  border-radius: 5px;
  font-weight: 600;
  color: #ffff;
}

.btn:hover {
  background-color: #07d83b;
}

.title {
  font-size: 1.5rem;
  font-family: serif;
  font-weight: 800;
  width: fit-content;
  border-bottom: 5px solid #05bd33;
  margin: 0 0 1.2em;
}

.secondary_title {
  font-size: 1.3rem;
  font-family: serif;
  font-weight: 800;
  width: fit-content;
  margin: 0 0 0.5em;
  color: #05bd33;
}

.imojie {
  font-size: 1.6rem;
  color: rgb(47, 214, 5);
  font-weight: 800;
}

.imojie2 {
  font-size: 3rem;
  font-weight: 900;
  color: rgb(47, 214, 5);
}

.Unfoundpage_imojie {
  font-size: 2rem;
  color: rgb(47, 214, 5);
  font-weight: 800;
}

.Unfoundpage_link-imojie {
  font-size: 1rem;
  color: rgb(47, 214, 5);
  font-weight: 800;
}

/* Layout Styles */

.layout_container {
  min-height: 88.7vh;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.layout__content {
  justify-content: center;
}

.layout_footer_position {
  margin-bottom: auto 0 0;
}

@media (max-width: 900px) {
  .secondary_container {
    margin: auto;
    padding: 0;
  }

  .sidebar__container {
    display: none;
  }

  .btn {
    padding: 0.7em 0.5em;
  }

  .main__content_container {
    padding: 2em 1.5em 0.3em;
    margin-right: 0;
    margin: auto;
    width: 100%;

    box-shadow: unset;
    border-bottom-left-radius: unset;
    border-top-right-radius: unset;
    margin-top: 1em;
  }

  .layout_container {
  width: fit-content;
}

  .layout_footer_position {
    margin-bottom: auto;
  }
}

/* Homepage styles */
