@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  min-height: 60vh;
  height: 100%;
}

.btn {
  background-color: #f5a822;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-weight: 800;
}

.btn:hover {
  background-color: #da9319;
  
}
