/* .projects {
} */
.projects a {
  margin-top: 0.5em;
  font-weight: 1000;
  color: #05bd33;
}

.projects a:hover {
  text-decoration: underline;
}

.projects__item {
  position: relative;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.493);
  border: 2px solid #fff;
}

.projects__item span {
  height: 100%;
  width: 100%;
}

.projects__item span img {
  height: 100%;
  width: 100%;
}

.projects__overlay {
  top: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  border-radius: 10px;
  transition: 0.5s ease-in;
}

/* .projects__overlay:hover {
  
} */

.projects__image {
  border-radius: 10px;
  margin: auto;
}

.projects__text {
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromtop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFrombottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* .leftslides {
  animation: slideInFromLeft 1s ease-in-out;
}

.rightslides {
  animation: slideInFromRight 1s ease-in-out;
}

.bottomslide {
  animation: slideInFromtop 1s ease-in-out;
}

.topmslide {
  animation: slideInFrombottom 1s ease-in-out;
}
 */